/*
:root {
    --primary: #512BD4;
    --primary-dark: #2f0c82;
    --primary-dark-text: #232323;
    --secondary: #7852d1;
    --secondary-dark-text: #9880e5;
    --tertiary: #391759
}

.text-primary { color: var(--primary) }
.text-primary-dark { color: var(--primary-dark-text) }
.text-secondary { color: var(--secondary) }
.text-secondary-dark-text { color: var(--secondary-dark-text) }
.text-tertiary { color: var(--tertiary) }

.bg-primary { background-color: var(--primary) }
.bg-primary-dark { background-color: var(--primary-dark) }
.bg-secondary { background-color: var(--secondary) }
.bg-tertiary { background-color: var(--tertiary) }

button.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary)
}
button.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    filter: brightness(120%)
}
button.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary)
}
button.btn-secondary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    filter: brightness(120%)
}
button.btn-tertiary {
    background-color: var(--tertiary);
    border-color: var(--tertiary)
}
button.btn-tertiary:hover {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    border-style: solid;
    border-width: 1px;
    filter: brightness(120%)
}
*/

$primary: #512BD4;
$secondary: #7852d1;
$tertiary: #391759;

@import "bootstrap/scss/bootstrap"